.fondo {
    background: url(../../images/fondo.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 55vh;
    height: 5vh;
    margin-bottom: 25vh;
    transition: 0.5s linear;
    font-size: 70px;
    text-align: center;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(10, 12, 10);
    cursor: pointer;
    border: none;
}

.box:hover {
    border: black;
    color: grey;
}